
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}
/*-------------HEADER-----------------*/
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    z-index: 3;
}

header h1 {
    text-align: left;
    margin: 1vw 0px 1vw 2.5vw;
    padding: 0px;
    font-size: 2rem;
}
/*-------------Nav Main-----------------*/
#nav-main {
    position: fixed;
    right: 20px;
}

#nav-main a {
    display: block;
    text-decoration: none;
    border: 2px solid white;
    outline: 2px solid;
    outline-color: black;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 40px auto;
    z-index: 2;
}

#nav-main a:hover {
    background-color: black;
    transform: scale(1.2);
}

/*-------------Sections-----------------*/

.separador {
    width: 70px;
    margin: 50px auto;
    transform: rotate(90deg);
    border-right: 1px;
}

/* S1 */

.section1 {
    font-size: 20px;
    height: 60vh;
    width: auto;
    margin-top: 3rem;
    background-image: url(/img/CivilEnginer.jpg);
    background-size: contain;
    background-attachment: fixed;
}

.section1 div {
    width: 60vw;
    text-align: center;
    position: relative;
    top: 15vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1rem;
    margin: auto;
    font-size: 1.2em;
}

.section1 h2 {
    font-size: 1.2em;
}

/* S2 */

.section2 {
    font-size: 16px;
    height: 650px;
    /*background-color: bisque;*/
}

#h2-s2 {
    margin: 4rem auto;
    text-align: center;
    font-size: 1.5em;
}

.section2 .section2-div {
    text-align: center;
    margin: 20px auto;
    font-size: 1em;
    width: 12em;
}

#section2-div2 {
    width: 20em;
}

#cv {
    margin:auto;
    margin-top: 1em;
    text-align: center;
    font-size: 1em;
}

.section2 .section2-div:hover {
    background-color: rgba(187, 187, 187, 1);
    border-radius: 10px;
    animation-name: educacion;
    animation-duration: 2s;
}

@keyframes educacion {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

/* S3 */

.section3 {
    height: 60vh;
    background-image: url(/img/CivilEnginer.jpg);
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.section3-div {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    margin-top: 8rem;
    height: 50%;
    padding: 5px;
}

.section3 h3 {
    font-size: 20px;
}

.section3 li {
    list-style: none;
    font-size: 15px;
}

/* S4 */

.section4 {
    height: 60vh;
    background-color: aquamarine;
}

.section4-div {
    background-color: black;
    width: 10vw;
    height: 10vw;
    border-radius: 50% ;
}

/* Footer */

footer {
    height: 20vh;
    background-color: rgb(7, 122, 84);
}

footer article, footer nav {
    background-color: black;
    width: 10vw;
    height: 10vw;
    border-radius: 50% ;
}