
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}
/*-------------HEADER-----------------*/
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    /*background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);*/
    z-index: 2;
}

header h1 {
    text-align: left;
    margin: 1vw 0px 1vw 2.5vw;
    padding: 0px;
    font-size: 2rem;
}
/*-------------Nav Main-----------------*/
#nav-main {
    list-style-type: disc;
    color: black;
    position: fixed;
    right: -1vw;
    top: 14vw;
    color: black;
    font-size: 2.5rem;
}

#nav-main li {
    margin: 1rem;
}

/*-------------Sections-----------------*/
.section {
}

.separador {
    width: 70px;
    margin: 50px auto;
    transform: rotate(90deg);
    border-right: 1px;
}

/* S1 */

.section1 {
    height: 120vh;
    margin-top: 4rem;
    background-image: url(/img/CivilEnginer.jpg);
    background-size: contain;
    background-attachment: fixed;
}

.section1 div {
    width: 60vw;
    text-align: center;
    position: relative;
    top: 35vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1rem;
    margin: auto;
    font-size: 3rem;
}

.section1 h2 {
    font-size: 2rem;

}

/* S2 */

.section2 {
    height: 80vh;
    /*background-color: aquamarine;*/
}

#h2-s2 {
    /*background-color: blue;*/
    margin: 4rem auto;
    text-align: center;
    font-size: 1.5rem;
}

.section2 div {
    text-align: center;
    margin: 20px auto;
    /*background-color: aqua;*/
}

#cv {
    /*background-color: blue;*/
    margin: 4rem auto;
    text-align: center;
    font-size: 1rem;
}
